<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>联电能源综合服务平台</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- layui样式 -->
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <!-- font-awesome样式 -->
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/ztree/zTreeStyle.css">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">


    <%include parts/header%>
      <%include parts/left-nav%>

        <div id="wrapp" class="layui-body bevel tlbr" style="width: auto; margin-left: 0px;">
          <!-- 内容主体区域 -->

        </div>


  </div>
  <!-- 百度地图 -->
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iE6Nttmdl4TXocGQHgYh0W44aeERi4Gs"></script> 
   <!-- layui  -->
  <script src="/static/layui/layui.js"></script>  
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!-- echarts -->
  <script src="/static/js/echarts.js"></script>
  <!-- ztree -->
  <script src="/static/ztree/jquery-1.4.4.min.js"></script>    
  <script src="/static/ztree/jquery.ztree.core.js"></script>  
  <!-- ejs模板 -->
  <script src="/static/js/ejs.js"></script>
  <!-- 自定义 -->
  <script src="/static/js/main.js"></script>    
  <script>
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;

    });
  </script>
</body>

</html>