<div id="container" class="layui-row">
    <blockquote class="layui-elem-quote">
        系统一次接线图
        <i class="fa fa-search-minus" id="zoomin"></i>
        <i class="fa fa-search-plus" id="zoomout"></i>
    </blockquote>
    <div id="drawing"></div>
</div>
<style>

</style>
<script>
    (function(){
        var draw = SVG('drawing').size(300, 300).panZoom();
        // // 画布点击事件
        // draw.on('click', function(ev){
        //     ev.preventDefault();
        //     console.log('zoom-zoom');
        // })
        var rect = draw.rect(100, 100).attr({fill: '#f06'});

        // // 图标点击事件
        // $(function(){
        //     $('#zoomin').click(function(){
        //         console.log('zoom-in');
        //     })
        //     $('#zoomout').click(function(){
        //         console.log('zoom-out');                
        //     })
        // })
    }())
</script>