<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>视图设计器</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/leaflet/leaflet.css">
  <script src="/static/layui/layui.js"></script>
  <script src="/static/leaflet/leaflet.js"></script>
</head>
<body>
  <div id="mapid"></div>
</body>
<script>
  (function() {
    layui.use(['form'], function() {
      var form = layui.form;

      // function checkLeave() {
      //   console.log('leave');
      // }

      // 添加图层
      var map = L.map('mapid', {
        minZoom: 1,
        maxZoom: 4,
        center: [0, 0],
        zoom: 2,
        crs: L.CRS.Simple
      });
      var w = 2000,
          h = 1500,
          url = '/static/img/test.png';

      var southWest = map.unproject([0, h], map.getMaxZoom()-1);
      var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
      var bounds = new L.LatLngBounds(southWest, northEast);

      // add the image overlay, 
      // so that it covers the entire map
      L.imageOverlay(url, bounds).addTo(map);

      // tell leaflet that the map is exactly as big as the image
      map.setMaxBounds(bounds);
    })
  })()
</script>
<style>
  body {
    margin: 0;
    padding: 0
  }
  #mapid { height: 880px; }
</style>
</html>