<!-- 内容主体区域 -->
<blockquote class="layui-elem-quote">
  工程管理
</blockquote>
<!-- 利用 vue 实例进行数据绑定 -->
<div class="layui-tab" id="app">
  <ul class="layui-tab-title">
      <li class="layui-this">工程列表</li>
  </ul>
  <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
          <!-- 内容主体 -->
          <div class="layui-row">
              <div class="layui-col-sm6 layui-col-md3">
                  <fieldset class="layui-elem-field">
                      <legend>平台工程总览</legend>
                      <div class="layui-field-box animation1">
                          <div class="row hz_pannel_120">
                              <div class="col-sm-6 col-xs-12">
                                  <i class="layui-icon" style="font-size: 64px; color: rgb(30, 159, 255);"></i>
                              </div>
                              <div class="col-sm-6 col-xs-12">
                                  <span>您的站点:</span>
                                  <span>在线子站:</span>
                                  <span>离线子站:</span>
                                  <span>检修子站:</span>                                        
                              </div>
                          </div>
                      </div>
                  </fieldset>
              </div>
          </div>
          <div class="layui-row">
            <table class="layui-table">
              <colgroup>
                <col width="150">
                <col width="200">
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th>序号</th>
                  <th>工程代码</th>
                  <th>工程名称</th>
                  <th>工程简介</th>
                  <th>工程地址</th>
                  <th>装机容量(kVA)</th>
                  <th>电价种类</th>
                  <th>工程状态</th>
                  <th>操作</th>
                </tr> 
              </thead>
              <tbody>
                <tr>
                  <td><%= project.id%></td>
                  <td><%= project.prjCode%></td>
                  <td><%= project.prjName%></td>
                  <td><%= project.prjShortName%></td>
                  <td><%= project.prjAddress%></td>
                  <td><%= project.prjDesignedKva%></td>
                  <td><%= project.prjType%></td>
                  <td><%= project.prjStatus%></td>
                  <td>操作</td>
                </tr>
              </tbody>
            </table>
            <div>{{items}}<button v-on:click="test">tst</button>
              <div id="page"></div>
            </div>
          </div>               
      </div>
  </div>
</div>
<script>
  (function(){
    layui.use('laypage', function(){
      var laypage = layui.laypage;
      
      //执行一个laypage实例
      laypage.render({
        elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
        ,count: 50 //数据总数，从服务端得到
      });

      // 利用vue进行数据绑定
      var app = new Vue({
        el: '#app',
        data: {
          items: "data"
        },
        methods: {
          test (){
            this.items = 'atad'
          }
        }
      });
    });


  }())
</script>