<div class="layui-header">
    <div class="layui-logo">能源综合服务平台</div>
    <div class="fa fa-bars" id="showandhide"></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="fa fa fa-bell-o"></i>消息</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="">语音播报</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <i class="fa fa-user-circle-o"></i>贤心
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="">基本资料</a>
                </dd>
                <dd>
                    <a href="">安全设置</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href=""><i class="fa fa-gear"></i>退了</a>
        </li>
    </ul>
</div>
<style>
  #showandhide{
    font-size: 24px;
    color: #fff;
    padding-left: 15px;
    position: absolute;
    left: 180px;
    top:15px;
    cursor:pointer;
  }
</style>