<div class="layui-side layui-bg-black">
    <div div class="layui-side-scroll">
        <ul  class="layui-nav layui-nav-tree" lay-filter="test">
            <% for(var i = 0; i < 2; i++) {%>
                <li class="layui-nav-item">
                    <a href="javascript:;">工程管理<%-i %></a>
                    <dl class="layui-nav-child">
                        <% for(var j = 0; j < 2; j++) {%>                        
                        <dd>
                            <a href="javascript:;">
                                <i class="fa fa-cogs"></i>工程管理<%-j %></a>
                        </dd>
                        <% } %>
                    </dl> 
                </li>
            <% } %>
        <ul>
    </div>
</div>