<div class="layui-row">
    <div class="layui-col-sm4">
        <fieldset class="layui-elem-field">
            <legend>子站基本情况</legend>
            <div class="layui-field-box animation1">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-xs12">
                        <i class="layui-icon">&#xe62c;</i>
                    </div>
                    <div class="layui-col-sm6 layui-col-xs12">
                        <span>子站名称:</span><br>
                        <span>地址:</span><br>
                        <span>电价种类:</span><br>
                        <span>设计容量:</span><br>                                    
                        <span>紧急联系:</span>                                        
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="layui-col-sm8">
        <fieldset class="layui-elem-field">
            <legend>用能及趋势</legend>
            <div class="layui-field-box">
                <div id="total_energy_map"></div>
            </div>
        </fieldset>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-sm4">
        <fieldset class="layui-elem-field">
            <legend>用电量</legend>
            <div class="layui-field-box animation1">

            </div>
        </fieldset>
    </div>
    <div class="layui-col-sm4">
            <fieldset class="layui-elem-field">
                <legend>站点负荷</legend>
                <div class="layui-field-box animation1">
                    <div class="layui-row">
                        <div class="layui-col-sm6 layui-col-xs12">
                            <i class="layui-icon">&#xe62c;</i>
                        </div>
                        <div class="layui-col-sm6 layui-col-xs12">
                            <span>今日最高负荷:</span><br>
                            <span>本月最高负荷:</span><br>
                            <span>今日最低负荷:</span><br>
                            <span>变更缴费模式:</span>                                 
                        </div>
                    </div>
                </div>
            </fieldset>
    </div>
    <div class="layui-col-sm4">
        <fieldset class="layui-elem-field">
            <legend>电力品质</legend>
            <div class="layui-field-box">

            </div>
        </fieldset>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<script>
    (function(){
        layui.use('element', function(){
            var element = layui.element;
            var $ = layui.$;
            
            //监听
            // $.post('/power/index/content', 17, function(e){
            //     console.log(e);
            // });
            
        });
    })()
</script>
<style>
    div.layui-row { height: 220px; }
    #total_energy_map {
        height: 100%;
        width: 100%
    }
    i.layui-icon {
        font-size: 64px;
        color: rgb(30, 159, 255)
    }
</style>