<div id="container" class="layui-row">
    <blockquote class="layui-elem-quote">
        站点分布,以地图方式显示站点运行信息
        <!-- <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">选择框</label>
                <div class="layui-input-block">
                    <select name="city" lay-verify="required">
                        <option value=""></option>
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form> -->
    </blockquote>
    <div id="allmap"  class="layui-row"></div>
</div>
<style>
    #container{
        width: 100%-200px;
        height: 808px;
    }
    #allmap{
        width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";
    }
</style>
<script>
    (function(){
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
            // 使用地图
            var map = new BMap.Map("allmap");    
            var point = new BMap.Point(120.62, 31.32);    
            map.centerAndZoom(point, 11);        //设置地图默认粒度
            // map.centerAndZoom("苏州",11);      // 初始化地图,用城市名设置地图中心点            
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            map.enableInertialDragging();         //鼠标拖拽
            map.enableContinuousZoom();          //
            var size = new BMap.Size(10, 20);
            map.addControl(new BMap.CityListControl({
                anchor: BMAP_ANCHOR_TOP_LEFT,
                offset: size,
                // 切换城市之间事件
                // onChangeBefore: function(){
                //    alert('before');
                // },
                // 切换城市之后事件
                // onChangeAfter:function(){
                //   alert('after');
                // }
            }));
            //创建自定义图标
            var myIcon = new BMap.Icon('/static/img/factory.png', new BMap.Size(30,157));
            var marker2 = new BMap.Marker(point,{icon:myIcon});  // 创建标注
            map.addOverlay(marker2);              // 将标注添加到地图中
            marker2.addEventListener("click",attribute);
            function attribute(){
                var content = `<h1>helooe</h1>`
                layer.open({
                    title: '子站运行简报',
                    content: content,
                    shadeClose: true,
                    btn: ['前往子站', '关闭']
                    ,yes: function(index, layero){
                        //按钮【按钮一】的回调
                    }
                })
            }
            // marker2.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画            
            // function addMarker(point, index){  // 创建图标对象   
            //     var myIcon = new BMap.Icon("/static/img/factory.png", new BMap.Size(30,157), {    
            //         // 指定定位位置。   
            //         // 当标注显示在地图上时，其所指向的地理位置距离图标左上    
            //         // 角各偏移10像素和25像素。您可以看到在本例中该位置即是   
            //         // 图标中央下端的尖角位置。    
            //         anchor: new BMap.Size(10, 25),    
            //         // 设置图片偏移。   
            //         // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您   
            //         // 需要指定大图的偏移位置，此做法与css sprites技术类似。    
            //         imageOffset: new BMap.Size(0, 0 - index * 25)   // 设置图片偏移    
            //     });      
            //     // 创建标注对象并添加到地图   
            //     var marker = new BMap.Marker(point, {icon: myIcon});    
            //     map.addOverlay(marker);    
            // }    
        });
    }())
</script>