<div id="container" class="layui-row">
    <blockquote class="layui-elem-quote">
        通信监测,主要监测子站运行整体状态
    </blockquote>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">子状态总览</li>
            <li>网关状态总览</li>
            <li>消息推送总览</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field">
                    <legend>子站状态</legend>
                    <div class="layui-field-box">
                        <div class="layui-row">
                            <div class="layui-col-sm4">
                                <div id="map"></div>                                
                            </div>
                            <div class="layui-col-sm4">
                                <div id="map2"></div>                                
                            </div>
                            <div class="layui-col-sm4">
                                <div id="map3"></div>                                
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>站点详细情况(点击上图分类进行查询)</legend>
                    <div class="layui-field-box">
                        <table id="demo" lay-filter="test"></table>
                        <script type="text/html" id="barDemo">
                        <div class="layui-btn layui-btn-xs" lay-event="stationdetail"><i class="layui-icon">&#xe609;</i></div>                        
                    </script>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>今日需重点关注(AI只能推荐)</legend>
                    <div class="layui-field-box">
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <fieldset class="layui-elem-field">
                                    <legend>负荷率最高</legend>
                                    <div class="layui-field-box"></div>
                                </fieldset>                               
                            </div>
                            <div class="layui-col-md4">
                                <fieldset class="layui-elem-field">
                                    <legend>运维风险综合指标</legend>
                                    <div class="layui-field-box"></div>
                                </fieldset>                           
                            </div>
                            <div class="layui-col-md4">
                                <fieldset class="layui-elem-field">
                                    <legend>温度指标</legend>
                                    <div class="layui-field-box"></div>
                                </fieldset>                           
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- 2 -->
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field">
                    <legend>网关状态统计</legend>
                    <div class="layui-field-box">
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div id="gw_status"></div>                                
                            </div>
                            <div class="layui-col-md8">
                                <div id="gw_top_10"></div>                                
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>网关详细情况(点击上图分类进行查询)</legend>
                    <div class="layui-field-box">
                        <table id="demo2" lay-filter="test2"></table>
                    </div>
                </fieldset>
            </div>
            <!-- 3 -->
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field">
                    <legend>消息推送情况</legend>
                    <div class="layui-field-box">
                        <div class="layui-row">
                            <div class="layui-col-md4">
                                <div id="pushmsg_status"></div>                                
                            </div>
                            <div class="layui-col-md8">
                                <div id="pushmsg_curive"></div>                                
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>消息推送详细情况(点击上图分类进行查询)</legend>
                    <div class="layui-field-box">

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        layui.use('table', function() {
            var table = layui.table;
            //table实例
            table.render({
                elem: '#demo'
                ,url: '/power/map/getprojectlist' //数据接口
                ,method: 'post'
                ,cols: [[ //表头
                {field: 'prjShortName', title: '站点名称'}                
                ,{field: 'prjName', title: '隶属企业'}
                ,{field: 'prjType', title: '状态', templet: function(d) {
                    if(d.prjType == 1){
                        return '<i class="fa fa-dot-circle-o run" style="color: green">在线</i>'
                    } else {
                        return '<i class="fa fa-dot-circle-o run" style="color: red">离线</i>'                        
                    }
                }}
                ,{field: 'prjDesignedKva', title: '当前负荷(kW)'}                
                ,{field: '', title: '电量增速(kwh/时)'}                
                ,{field: '', title: '环境参数(℃)'}                
                ,{field: '', title: '运行评价(%)'}                
                ,{title: '操作', align:'center', toolbar: '#barDemo'}
                ]]
                ,done: function(res, curr, count){
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    // console.log(res);
                    if (res.data.data) {
                        vuedata.prjlist = res.data;                        
                    }
                    //得到当前页码
                    // console.log(curr); 
                    
                    //得到数据总量
                    // console.log(count);
                }
            });

            //监听工具条
            table.on('tool(test)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                
                if(layEvent === 'stationdetail'){ //查看
                    console.log('TODO...');
                    // TODO...
                }
            });

            // 2
            table.render({
                elem: '#demo2'
                ,url: '/power/map/getprojectlist' //数据接口
                ,method: 'post'
                ,cols: [[ //表头
                {field: 'prjShortName', title: '站点名称'}                
                ,{field: 'prjName', title: '隶属企业'}
                ,{field: 'prjType', title: '状态', templet: function(d) {
                    if(d.prjType == 1){
                        return '<i class="fa fa-dot-circle-o run" style="color: green">在线</i>'
                    } else {
                        return '<i class="fa fa-dot-circle-o run" style="color: red">离线</i>'                        
                    }
                }}
                ,{field: 'prjDesignedKva', title: '当前负荷(kW)'}                
                ,{field: '', title: '电量增速(kwh/时)'}                
                ,{field: '', title: '环境参数(℃)'}                
                ,{field: '', title: '运行评价(%)'}                
                ,{title: '操作', align:'center', toolbar: '#barDemo'}
                ]]
                ,done: function(res, curr, count){
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    // console.log(res);
                    if (res.data.data) {
                        vuedata.prjlist = res.data;                        
                    }
                    //得到当前页码
                    // console.log(curr); 
                    
                    //得到数据总量
                    // console.log(count);
                }
            });

            var myChart = echarts.init(document.getElementById('map'));
            option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                calculable : true,
                series : [
                    {
                        name:'负荷',
                        type:'pie',
                        radius : [30, 110],
                        center : ['50%', '50%'],
                        roseType : 'area',
                        data:[
                            {value:10, name:'rose1'},
                            {value:5, name:'rose2'},
                            {value:15, name:'rose3'},
                            {value:25, name:'rose4'},
                            {value:25, name:'rose5'},
                        ]
                    }
                ]
            };
            myChart.setOption(option);

        });


    })()
</script>
<style>
    #map, #map2, #map3, #gw_status, #gw_top_10, #pushmsg_status, #pushmsg_curive {
        height: 200px;
        width: 100%
    }
</style>