<div id="container" class="layui-row">
    <blockquote class="layui-elem-quote">
        报表管理,主要监测报表作业系统,报表审核及推送情况！
    </blockquote>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">报表列表总览</li>
            <li>报表模板配置</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-row">
                    <fieldset class="layui-elem-field">
                        <legend>待审核的列表</legend>
                        <div class="layui-field-box">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="200">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                    <th>ID</th>                                            
                                    <th>报表类型</th>
                                    <th>报表子类型</th>
                                    <th>子站名称</th>                                            
                                    <th>制作时间</th>
                                    <th>报表概要</th>
                                    <th>制作者</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>中国电信</td>
                                    <td>中国电信(苏州)分公司</td>
                                    <td>1315</td>                                                
                                    <td><i class="fa fa-dot-circle-o run">在线</i></td>
                                    <td>
                                        <div class="layui-btn-group">
                                            <button class="layui-btn layui-btn-sm">
                                                <i class="fa fa-line-chart"></i>
                                            </button>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="layui-elem-field">
                    <legend>过滤查询条件</legend>
                    <div class="layui-field-box">
                        <form class="layui-form" action="">
                            <!-- <div class="layui-form-item"> -->
                                <div class="layui-inline">
                                    <label class="layui-form-label">报表类型</label>
                                    <div class="layui-input-block">
                                        <select name="city" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">全部</option>
                                        <option value="1">严重</option>
                                        <option value="2">普通</option>
                                        <option value="3">一般</option>
                                        </select>
                                    </div>
                                </div>                                
                            <!-- </div> -->
                            <!-- <div class="layui-form-item"> -->
                                <div class="layui-inline">
                                    <label class="layui-form-label">报表状态</label>
                                    <div class="layui-inline">
                                        <select name="city" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">全部</option>
                                        <option value="1">待审核</option>
                                        <option value="2">已审核</option>
                                        <option value="2">未推送</option>
                                        <option value="2">已推送</option>
                                        </select>
                                    </div>
                                </div>                                
                            <!-- </div> -->
                            <!-- <div class="layui-form-item"> -->
                                <div class="layui-inline">
                                    <label class="layui-form-label">日期范围</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="test1" placeholder="请选择时间">
                                    </div>
                                </div>
                            <!-- </div> -->
                            <!-- <div class="layui-form-item"> -->
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            <!-- </div> -->
                        </form>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>已审核的报表</legend>
                    <div class="layui-field-box">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>                                            
                                    <th>报表类型</th>
                                    <th>报表子类型</th>
                                    <th>子站名称</th>                                            
                                    <th>制作时间</th>
                                    <th>报表概要</th>
                                    <th>制作者/审核意见</th>
                                    <th>审核意见</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr> 
                            </thead>
                            <tbody>
                                <tr>
                                <td>中国电信</td>
                                <td>中国电信(苏州)分公司</td>
                                <td>13：15</td> 
                                <td><i class="fa fa-dot-circle-o run">在线</i></td>                                                                                       
                                <td>张三</td>                                                
                                <td>
                                    <div class="layui-btn-group">
                                        <button class="layui-btn layui-btn-sm">
                                            <i class="fa fa-line-chart"></i>
                                        </button>
                                    </div>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <!-- 2 -->
            <div class="layui-tab-item">
                <div class="layui-row">
                    <fieldset class="layui-elem-field">
                        <legend>系统默认报表模板</legend>
                        <div class="layui-field-box">
                
                        </div>
                    </fieldset>
                </div>
                <fieldset class="layui-elem-field">
                    <legend>用户自定义模板</legend>
                    <div class="layui-upload-drag" id="test10">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>
    (function(){
        layui.use(['form', 'laydate', 'upload'], function(){
            var form = layui.form;
            var laydate = layui.laydate;
            var upload = layui.upload;
  
            //选择时间
            laydate.render({
                elem: '#test1'
            });

              //上传实例
            var uploadInst = upload.render({
                elem: '#test10' //绑定元素
                ,url: '/home/index/upload' //上传接口
                ,done: function(res){
                //上传完毕回调
                }
                ,error: function(){
                //请求异常回调
                }
            });
            
            //form监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });


        });
    }())
</script>