<div id="container" class="layui-row">
  <blockquote class="layui-elem-quote">
      巡检总视图,显示巡检整体情况
  </blockquote>
  <div class="layui-tab">
      <ul class="layui-tab-title">
          <li class="layui-this">巡检总览</li>
      </ul>
      <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">
              <div class="layui-row">
                  <div class="layui-col-md4">
                      <fieldset class="layui-elem-field">
                          <legend>巡检配置情况</legend>
                          <div class="layui-field-box">
                            <ul>
                              <li>计划巡检子站：<a href="#">3</a></li>
                              <li>完成巡检子站：<a href="#">3</a></li>
                              <li>进行巡检子站：<a href="#">3</a></li>
                              <li>延误巡检子站：<a href="#">3</a></li>
                              <li>巡检班组：<a href="#">3</a></li>
                              <li>巡检车辆：<a href="#">3</a></li>
                            </ul>
                          </div>
                      </fieldset>
                  </div>
                  <div class="layui-col-md4">
                    <fieldset class="layui-elem-field">
                        <legend>本月巡检完成率%</legend>
                        <div class="layui-field-box">

                        </div>
                    </fieldset>
                </div>
                  <div class="layui-col-md4">
                      <fieldset class="layui-elem-field">
                          <legend>巡检质量反馈</legend>
                          <div class="layui-field-box">
                            <ul>
                              <li>巡检客户评分：<a href="#">3</a></li>
                              <li>巡检服务投诉：<a href="#">3</a></li>
                              <li>巡检隐患排查：<a href="#">3</a></li>
                              <li>改进建议：<a href="#">3</a></li>
                            </ul>
                          </div>
                      </fieldset>
                  </div>
              </div>
              <fieldset class="layui-elem-field">
                  <legend>巡检详细</legend>
                  <div class="layui-field-box">
                      <table class="layui-table">
                          <colgroup>
                              <col width="150">
                              <col width="200">
                              <col>
                          </colgroup>
                          <thead>
                              <tr>
                              <th>#ID</th>
                              <th>巡检名称</th>
                              <th>巡检类型</th>
                              <th>巡检班组</th>
                              <th>巡检人员</th>
                              <th>安排日期</th>
                              <th>操作</th>
                              </tr> 
                          </thead>
                          <tbody>
                              <tr>
                              <td>贤心</td>
                              <td>2016-11-29</td>
                              <td>人生就像是一场修行</td>
                              <td>许闲心</td>
                              <td>2016-11-28</td>
                              <td>7</td>
                              <td>7</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </fieldset>
          </div>
      </div>
  </div>
</div>
<style>

</style>
<script>
  (function(){

  }())
</script>