<div id="container" class="layui-row">
    <blockquote class="layui-elem-quote">
        企业信息管理
    </blockquote>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">企业列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-row" style="padding-left: 20px">
                    <div class="layui-col-md4">
                        <input type="text" required  lay-verify="required" placeholder="模糊检索条件" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-md4">
                        <button class="layui-btn layui-btn-sm" id="query"><i class="fa fa-search"></i>查询</button>
                        <button class="layui-btn layui-btn-sm" id="add"><i class="fa fa-plus-square-o"></i>增加企业</button>
                    </div>
                </div>
                <div class="layui-row" id="topContent" v-show="false">
                    <fieldset class="layui-elem-field">
                        <legend>企业信息</legend>
                        <div class="layui-field-box">
                            <div class="layui-row">
                                <div class="layui-col-sm4">
                                    <form class="layui-form" action="admin/company/add" method="POST">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">企业名称</label>
                                            <div class="layui-input-block">
                                            <input type="text" name="cropName" required  lay-verify="required" placeholder="企业名称" autocomplete="off" class="layui-input" :value="companyList.cropName">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">企业简称</label>
                                            <div class="layui-input-block">
                                            <input type="text" name="cropShortName" required  lay-verify="required" placeholder="企业简称" autocomplete="off" class="layui-input" :value="companyList.cropShortName">
                                            </div>
                                        </div>
                                        <!-- <div class="layui-form-item">
                                            <label class="layui-form-label">企业类型</label>
                                            <div class="layui-input-block">
                                            <select name="cropType" lay-verify="required">
                                                <option value="">请选择企业类型</option>
                                                <option value="0">民营企业</option>
                                                <option value="1">国营企业</option>
                                                <option value="2">外资企业</option>
                                                <option value="3">合资企业</option>
                                                <option value="4">其他</option>
                                            </select>
                                            </div>
                                        </div> -->
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">企业地址</label>
                                            <div class="layui-input-block">
                                            <input type="text" name="cropAddress" required  lay-verify="required" placeholder="详细到街道名称" autocomplete="off" class="layui-input" :value="companyList.cropAddress">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">企业网站</label>
                                            <div class="layui-input-block">
                                            <input type="text" name="cropUrl" required  lay-verify="required" placeholder="http://www.example.com" autocomplete="off" class="layui-input" :value="companyList.cropUrl">
                                            </div>
                                        </div>
                                        <div class="layui-form-item layui-form-text">
                                            <label class="layui-form-label">企业简介</label>
                                            <div class="layui-input-block">
                                            <textarea name="cropNotes" placeholder="请输入内容" class="layui-textarea" placeholder="企业相关简介" :value="companyList.cropNotes"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="layui-field-box">
                    <table class="layui-hide" id="test" lay-filter="demo"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>
    (function(){
        layui.use(['form', 'table'], function(){
            var $ = layui.$;    //使用jquery
            var form = layui.form;
            var table = layui.table;

     
            $('#add').click(function(){
                console.log('add')
            })
            $('#query').click(function(){
                console.log('query')
            })
  
           
            
            //监听工具条
            table.on('tool(demo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值

                if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    // //向服务端发送删除指令
                    $.post('/admin/company/del', data, function(e){
                        console.log(e + '<<<')
                    });
                });
                } else if(layEvent === 'edit'){
                    $('#topContent').show('slow');  
                    vueMode.companyList = data;
                    $.post('/admin/company/update', data, function(e){
                        console.log(e.data)
                    })
                }
            });

            var vueMode ={
                companyList:[]
            };

            var vueApp = new Vue({
                el:'#container',
                data:vueMode,
                methods:{
                    
                }
            })


            table.render({
                elem: '#test'
                ,height: 500
                ,url:'/admin/company/getcompayspage'
                ,method:'POST'
                ,page: true //开启分页
                ,done:function(data){
                    console.log(data);
                }
                // ,limit:3
                // ,limits:[3,10,20,50]
                ,cols: [[ //表头
                {field: 'id', title: '序号', width:80, sort: true}
                ,{field: 'cropCode', title: '企业代码', width:80}
                ,{field: 'cropName', title: '企业名称', width:80, sort: true}
                ,{field: 'cropShortName', title: '企业简称', width:80} 
                ,{field: 'cropType', title: '企业类型', width: 170, edit: true,
                templet:function(d){
                    if(d.cropType ==1)
                    {
                        return '<div style="color:red">私营企业</div>'
                    }
                }}
                ,{field: 'cropAddress', title: '企业地址', width: 80, sort: true}
                ,{field: 'cropUrl', title: '企业网址', width: 80, sort: true}
                ,{fixed: 'right',title: '操作', width: 165, align:'center', toolbar: '#barDemo'}
                ]]
            });

           
  
            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                // return false;
            });

        });
    }())
</script>